:root {
    --fonte-letra: 'Nunito', sans-serif;
    --cor-de-fundo: #FFFFFF;
    --cor-letra-pricipal: #242424;
    --cor-letra-botao: #FFFFFF;
    --cor-fundo-botao: #FCA60F;
}

body {
    width: 1607px;
    height: 990px;
    font-family: var(--fonte-letra);
    background: var(--cor-de-fundo);
}

header {
    width: 1607px;
    height: 95px;
    box-shadow: 0px 1px 8px rgba(0, 36, 36, 0.15);
    background: var(--cor-de-fundo);
}

.cabecalho_titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 164px;
    width: 1115px;
    height: 95px;
    
}


.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    width: 281px;
    font-size: 18px;
    font-weight: 600;
}

main {
    width: 1440px;
}

.quadro_principal {
    width: 1115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 164px;
    margin-top: 203px;
}

.quadro_principal div {
    width: 557px;
}

.quadro_principal h1 {
    position: absolute;
    width: 527px;
    height: 143.17px;
    left: 160px;
    top: 298px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.quadro_button {
    position: absolute;
    width: 290px;
    height: 58.44px;
    left: 160px;
    top: 521.04px;
    background: var(--cor-fundo-botao);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    color: var(--cor-letra-botao);
    border: none;
}

.quadro_img--redes {
    position: absolute;
    width: 105.42px;
    height: 23.24px;
    left: 169.1px;
    top: 611.62px;

}

.quadro_img--copo {
    position: absolute;
    width: 182px;
    height: 305px;
    left: 1034px;
    top: 283px;
}

.quadro_img--1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -143px;
    top: 267px;
    background: url(../assets/Vector\ \(1\).svg);
    background-repeat: no-repeat;
}

.quadro_img--2 {
    position: absolute;
    width: 520px;
    height: 100vh;
    left: 1025px;
    top: 125px;
    background: url(../assets/Vector.svg);
    background-repeat: no-repeat;
    transform: rotate(9.27deg);

}

.rodape {
    position: absolute;
    width: 96px;
    height: 69px;
    left: 672px;
    top: 748px;
}

@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        width: 100vw;
        align-items: center;
        
    }

    .cabecalho_titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 90;
        box-shadow: 0px 1px 8px rgba(0, 36, 36, 0.15);
        background: var(--cor-de-fundo);
        margin: 0;
        padding: 0;
  
    }

    .cabecalho_itens {
        margin-top: 10px;
    }

    .cabecalho_nav {
        margin-bottom: 10px;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    .quadro_img--1 {
       display: none;
      
    }

  
    .quadro_img--2 {
      display: none;  
    }

    .quadro_principal h1 {
        position: absolute;
        width: 100vw;
        height: 81px;
        top: 223px;
        left: 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 27px;
        text-align: center;

    }

    .quadro_img--copo {
        display: none;
    }


    .quadro_button {
        position: absolute;
        width: 239px;
        height: 49px;
        left: 20%;
        top: 357px;
        background: #FCA60F;
        border-radius: 5px;
      
    }

    .quadro_img--redes {
        position: absolute;
        width: 105.42px;
        height: 23.86px;
        left: 135px;
        top: 717px;
        margin-bottom: 20px;        
    }

    .rodape {
        display: none;
    }
}

